$font-stack: Helvetica, sans-serif;
$primary-color: #474747;

html, body, #root {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #000;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

chat-body {
  display: block;
  height: 100%;
  width: 100%;
}